.edit-layer{
	position:relative;
	width: 554px;
	height: 625px;
}
.ment{
	position: absolute;
	background-color:#ffffff;
	border:none;
	font-family: '굴림';
	font-size:12px;			
}
.hide{
	display:none;
}