.edit-layer{
	position:relative;
}
.cut{
	position: absolute;
	background-color:#ffffff;
	border:none;
	font-family: '굴림';
	font-size:12px;
}
.hide{
	display:none;
}
.cut-edit{
    border: 1px solid black;
    position: absolute;
    cursor:pointer;
}
.cut-edit:hover{
    background-color: rgba(0,0,0,0.3);
}