<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>짤방생성기</title>
</head>
<body>
<div>
  <img src="<%= imageUrl %>" alt="짤방생성 결과">
</div>
<div>
  <a href="https://<%= url %>/sources/<%= sourceId %>}">짤방 만들러 가기</a>
</div>
</body>
</html>
